<div class="row middle-xs center-xs card">
  <div class="col-xs-4 row-img">
    <img class="img" [src]="getHotelImg(hotel.image)" alt="">
  </div>
  <div class="col-xs-4 dotted">
    <div class="row">
      <div class="col-xs-12">
        <span class="hotel-name">{{hotel.name}}</span>
      </div>
      <div class="col-xs-12">
          <img *ngFor="let star of range" class="star-img" [src]='getStarsImg()' alt="">
      </div>
      <div class="col-xs-12">
        <img *ngFor="let amenity of hotel.amenities" 
              class="amenity-img" 
              [src]="getAmenityImg(amenity)" 
              alt="">
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="row center-xs">
      <div class="col-xs-12">
        <span class="title-hotel">Precio por noche por habitación</span>
      </div>
      <div class="col-xs-12">
        <span class="currency">
            {{getCurrency()}}
        </span> 
        <span class="price">
          {{hotel.price}}
        </span>
      </div>
      <div class="col-xs-12">
        <button class="show-hotel-button">Ver Hotel</button>
      </div>
    </div>
  </div>
</div>