.card{
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: inset 0 -1px 0 0 #e6e6e6;
  height: 214px;
  margin: 2%;
  padding: 1%;
  width: auto;
  .row-img{
      height: 100%;
  }
  .dotted{
      border-right: 1px dotted gray;
  }
  .hotel-name{
    color: #157ab1;
    font-weight: bold;
    font-size: large;
  }
  .img {
      max-width: 100%;
      max-height: 100%;
  }
  .star-img{
      width: 15px;
      height: 15px;
  }
  .amenity-img{
      width: 20px;
      height: 20px;
  }
  .title-hotel{
    word-wrap: break-word;
  }
  .show-hotel-button{
      padding: 4% 4% 4% 4%;
      background-color: #157ab1;
      color: white;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      border: 0;
      font-weight: bold;
      width: 60%;
      height: auto;
  }
  .currency{
      color: #df6800;
      font-size: 35px;
  }
  .price{
      color: #df6800;
      font-size: 45px;
      font-weight: bold;
  }
}

$width-name: "only screen and (max-width: 412px)";

@media #{$width-name} {
   .card{.price{font-size:22px}}
   .card{.currency{font-size: 12px}}
}