<mat-accordion>
  <mat-expansion-panel [disabled]="true">
    <mat-expansion-panel-header>
      Filtros
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img class="img" src="/assets/recursos/assets/icons/filters/search.svg" alt="">
      </mat-panel-title>
      <mat-panel-description>
        Nombre del hotel
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
        <input matInput type="text" class="form-control" placeholder="Ingrese el nombre del hotel" (input)="onSearchChange($event.target.value)">
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <img class="img" src="/assets/recursos/assets/icons/filters/star.svg" alt="">
      </mat-panel-title>
      <mat-panel-description>
        Estrellas
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-radio-group>
        <div class="row start-xs">
          <div class="col-xs-12"><mat-radio-button (click)="getHotelsWithStars(5)" value="5"><img *ngFor="let star of getStars(5)" class="stars" src="/assets/recursos/assets/icons/filters/star.svg" alt=""></mat-radio-button></div>
          <div class="col-xs-12"><mat-radio-button (click)="getHotelsWithStars(4)" value="4"><img *ngFor="let star of getStars(4)" class="stars" src="/assets/recursos/assets/icons/filters/star.svg" alt=""></mat-radio-button></div>
          <div class="col-xs-12"><mat-radio-button (click)="getHotelsWithStars(3)" value="3"><img *ngFor="let star of getStars(3)" class="stars" src="/assets/recursos/assets/icons/filters/star.svg" alt=""></mat-radio-button></div>
          <div class="col-xs-12"><mat-radio-button (click)="getHotelsWithStars(2)" value="2"><img *ngFor="let star of getStars(2)" class="stars" src="/assets/recursos/assets/icons/filters/star.svg" alt=""></mat-radio-button></div>
          <div class="col-xs-12"><mat-radio-button (click)="getHotelsWithStars(1)" value="1"><img *ngFor="let star of getStars(1)" class="stars" src="/assets/recursos/assets/icons/filters/star.svg" alt=""></mat-radio-button></div>
    </div>
      </mat-radio-group>
  </mat-expansion-panel>
</mat-accordion>