<div class="row start-xs middle-xs header">
  <div class="col-xs-12">
    <img src="/assets/recursos/assets/images/logo-almundo.svg" alt="">
  </div>
</div>
<div class="row center-xs custom">
  <div class="col-xs-12 col-sm-12 col-md-3 left">
    <div class="row center-xs">
      <app-filters></app-filters>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 top">
    <div class="row center-xs">
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filtros
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <app-filters></app-filters>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-9 right">
    <app-hotels></app-hotels>
  </div>
</div>