.header{
    height: 10%;
    background-color: #10417f;
    margin: 0;
    padding: 0;
}

.custom{
    background-color: #f4f4f4;
    height: 90%;
    margin: 0;
    padding: 0;
    padding-top: 4%;
    .top{
        display: none;
    }
    .left{
        overflow-y: auto;
        min-height: 100%;
        .row{
            margin: 0;
            margin-top: 8%;
            .filters{
                background-color: #ffffff;
                height: 48px;
                box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            }
        }
    }
    .right{
        overflow-y: auto;
        min-height: 100%;
    }
}

$width-name: "only screen and (max-width: 991px)";

@media #{$width-name} {
    .custom{
        .top{
            margin-top: 2%;
            display: block;
            text-align: center;
        }
        .left {
            display: none;
        }
    }
}